@import "tailwindcss";

body {
  @apply bg-[#f8f6f3] text-[#2e2e2e];
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #fafafa;
}

.center {
  max-width: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
